# Ignore some files when pushing to the repo.
/datasets/cifar-100-python
/datasets/*.txt
/datasets/*.npy
/logs
.idea
__pycache__
/tutorials/models
.ipynb_checkpoints
/out
/data
*.log
*.svg
/demo
*.png
